@keyframes h1Anim {
    0%{opacity: 0.0}
    100%{opacity: 0.8}
    
}

@keyframes photoAnim {
    0%{left: -1000px}
    25%{left: -600px}
    75%{left: -400px}
    100%{left: 0px}
}

#container {
    height: auto;
}

html {
    position: relative;
    height: auto;
    font-family: "Lucida Sans Unicode",               monospace, sans-serif;
    text-align: justify;
    background-color: white;
}


.topBar{
    background-color: black;
    color: green;
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    
}

.upperSect #navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#navBarItems{
    float: right;
    padding: 6px;
    overflow: hidden;
    font-weight: bold;
    color: white;
    background-color: darkblue;
    height: 30%;
    width: auto;
    display: inline-block;
    transition: height 0.15s, ease-out
}

#navBar #navBarItems:hover{
    background-color: aqua;
    color: black;
    animation-duration: 4s; 
    position: relative;
    height: 60px;
}

h1 {
font-family: 'Candal', sans-serif;
    font-size: 135px;
    text-transform: uppercase;
    padding: inherit;
    text-shadow: rgb(224, 224, 224) 0px 0px 5px;
    opacity: 0.0;
    animation-name: h1Anim;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    max-height: auto;
    
    
}

.upperSect {
    background-color: skyblue;
    background-image: url(dark-loom.png);
    height: 400px;
}

#photo{
    height: 250px;
    float: right;
    border-radius: 50%;
    position: relative;
    animation-name: photoAnim;
    animation-duration: 4s;
}

.personalDetails{  
    clear: both
}

section {
    background-color: lightblue;
    border-bottom: 1px solid white;
    
}

.subHeadings {
    background-color: mediumseagreen;
    display: block;
}
#socialMedia img{
    height: 120px;
    width: auto;
}

.contact {
    background-color: grey
}
#socialMedia {
    background-color: grey
}

/*Responsive*/

@media screen and (max-width: 650px) {
    section {
        background-color: red;
    } 
    #photo{
        float: left;
        position: relative;
        left: 140px
    }
    .subHeadings {
        text-align: center;
    }
    
        .topBar{
        text-align: center;
    }
    
    h1{
        position: relative;
        left: 120px;
        font-size: 110px;
    }
    
 .upperSect #navBar{
        width: 100%;
     position: relative;
     top: -80px;
     height: 100px;
    }
    
 #navBarItems{
     padding: 2px;
     font-size: 32px;
     height: 80px;
}
}


@media screen and (max-width: 400px) {
    #photo {
        height: 130px;
        position: relative;
        left: 100px;
    }
    
    section {
        background-color: midnightblue;
    }
    .subHeadings {
        font-size: 25px;
    }
    h1{
        font-size: 110px;
        position: relative;
        left: 30px;
    }
    .topBar{
        text-align: center;
    }
     .upperSect #navBar{
        min-width: 100%;
     position: relative;
     top: -80px;
     height: 250px;
    }
    
     #navBarItems{
     padding: 2px;
     font-size: 20px;
     height: 80px;
        
}

}